html {
    font-size: 10px;
}
body {
    font-family: 'Press Start 2P';
    color: black;
    text-align: center;
}
.background {
    height: 600px;
    border: 1em black solid;
}
.content-box {
    border: 0.3em black solid;
    margin-top: 38em;
    margin-right: 3em;
    margin-left: 3em;
    background-color: rgba(255, 255, 255, 0.5);
}
h1 {
    margin: 1em;
    font-size: 0.9vw;
    line-height: 1.5em;
}

h2 {
    margin: 2em;
    font-size: 0.8em;
}
.options {
    font-size: 0.7em;
    line-height: 2em;
    display: grid;
    grid-template-columns: 5em 30em;
    grid-gap: 1em;
    justify-content: center;
    margin: 2em;
}
#theOne {
    display: inline;
    height: 2vh;
    width: 2vw;
}
input {
    justify-self: end;
}
label {
    text-align: justify;
}
.background-button {
    background:  rgba(255, 255, 255, 1);
}
button {
    font-family: 'Press Start 2P';
    color: black;
    text-align: center;
    margin: 1em;
    padding: 1em;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}
button:hover {
    background-color: grey;
    color: white;
    cursor: pointer;
}

@media(min-width: 768px) {
    .background {
        height: 850px;
        border: 0.5em black solid;
    }

    .content-box {
        margin-top: 66em;
        margin-right: 10em;
        margin-left: 10em;
    }

    .options {
        font-size: 0.7em;
        line-height: 2em;
        display: grid;
        grid-template-columns: 10em 56em;
        grid-gap: 1em;
        justify-content: center;
        margin: 2em;
    }
}

@media(min-width: 1024px) {

    .background {
        height: 700px;
        border: 0.5em black solid;
    }
    .content-box {
        margin-top: 50em;
        margin-right: 20em;
        margin-left: 20em;
    }
}


@media(min-width: 1440px) {

    .background {
        height: 700px;
        border: 0.5em black solid;
    }
    .content-box {
        margin-top: 50em;
        margin-right: 35em;
        margin-left: 35em;
    }
}
