html {
    font-size: 10px;
}
body {
    font-family: 'Press Start 2P';
    color: black;
    text-align: center;
}
.background {
    height: 121vh;
    background-size: 115vh 265vw;
    background-repeat: no-repeat;
    border: 1vh black solid;
}
.content-box {
    border: 0.5vh black solid;
    margin-top: 58vh;
    margin-right: 2vh;
    margin-left: 2vh;
    background-color: rgba(255, 255, 255, 0.9);
}
p {
    margin: 3.5vh;
    font-size: 3.1vw;
    line-height: 2.9vh;
}
@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}
/* La animación para parpadear el cursor */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: rgb(255, 255, 255)
    }
}
.typing {
    font-size: 5vw;
    color: rgb(255, 255, 255);
    line-height: 2.5em;
    text-shadow: 0 0 20px #0051ff;
    overflow: hidden;
    white-space: nowrap;
    margin: 2em auto;
    letter-spacing: 0.15em;
    animation: typing 4s steps(30, end), blink-caret 0.75s step-end infinite;
    animation-fill-mode: forwards;
}
.typing-red {
    font-size: 5vw;
    color: rgb(255, 255, 255);
    line-height: 2.5em;
    text-shadow: 0 0 20px red;
    overflow: hidden;
    white-space: nowrap;
    margin: 2em auto;
    letter-spacing: 0.15em;
    animation: typing 4s steps(30, end), blink-caret 0.75s step-end infinite;
    animation-fill-mode: forwards;
}
.typing-green {
    font-size: 5vw;
    color: rgb(255, 255, 255);
    line-height: 2.5em;
    text-shadow: 0 0 20px green;
    overflow: hidden;
    white-space: nowrap;
    margin: 2em auto;
    letter-spacing: 0.15em;
    animation: typing 4s steps(30, end), blink-caret 0.75s step-end infinite;
    animation-fill-mode: forwards;
}
.options-question {
    font-size: 2vw;
    color: black;
    line-height: 2.3vh;
    margin: 8vw 5vw;
}
.options {
    font-size: 1.8vw;
    line-height: 2.3vh;
    display: grid;
    grid-template-columns: 1vh 29vh;
    grid-gap: 1vh;
    justify-content: center;
    margin: 2vh;
}
.welcomeimage {
    width: 20vw;
    height: 10vh;
    margin: 18px 15px;
}
.image-position-game {
    width: 20vw;
    height: 10vh;
    margin: 15px;
}
.image-position-game {
    position: absolute;
    left: 1vh; 
    top: 51vh; 
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
#theOne {
    display: inline;
    height: 2vh;
    width: 2vw;
}
input {
    justify-self: end;
}
label {
    text-align: justify;
}
.background-button {
    background: rgba(255, 255, 255, 1);
}
.welcomeimage {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
button {
    font-family: 'Press Start 2P';
    color: black;
    text-align: center;
    font-size: 3vw;
    margin: 3em;
    padding: 1em;
    background-color: #fff;
    border: 3px solid black;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}
button:hover {
    background-color: grey;
    color: white;
    cursor: pointer;
}




@media(min-width: 768px) {

    .background {
        height: 83vh;
        background-size: 80vh 124vw;
    }
    .content-box {
        margin-top: 44vh;
        margin-right: 3vh;
        margin-left: 3vh;
    }
    .welcomeimage {
        width: 15vw;
        height: 10vh;
        margin: 30px 25px;
    }
    .options {
        font-size: 1.1vw;
        line-height: 2vh;
        display: grid;
        grid-template-columns: 1vh 55vh;
        grid-gap: 1vh;
        justify-content: center;
        margin: 2vh;
    }
    .options-question {
        font-size: 2vw;
        color: black;
        line-height: 2.3vh;
        margin: 4vw 3vw;
    }
    .image-position-game {
        width: 15vw;
        height: 8vh;
        margin: 15px;
    }
    .image-position-game {
        top: 38vh; 
    }

}
@media(min-width: 1024px) {

    .typing {
        margin: 1vh auto;
    }
    h1 {
        font-size: 5vw;
        line-height: 1.5em;
    }
    .background {
        height: 85vh;
        background-size: 133vh 76vw;
        border: 0.5em black solid;
    }
    p {
        margin: 4vh;
        font-size: 2vw;
        line-height: 1.5em;
    }
    .welcomeimage {
        width: 13vw;
        height: 14vh;
        margin: 15px 50px;
    }
    .content-box {
        margin-top: 40vh;
        margin-right: 5vh;
        margin-left: 5vh;
    }
    button {
        font-size: 3vw;
        margin: 2.5vh;
        padding: 1vh;
        border: 0.5vh solid black;
    }
    .options {
        font-size: 1.5vh;
        line-height: 2vh;
        display: grid;
        grid-template-columns: 1vh 90vh;
        grid-gap: 1em;
        justify-content: center;
        margin: 2em;
    }
    .options-question {
        font-size: 1.5vw;
        line-height: 3.5vh;
    }
    .image-position-game {
        width: 11vw;
        height: 9vh;
        margin: 15px;
        top: 35vh; 
    }
}

@media(min-width: 1440px) {

.typing {
font-size: 3vw;
}
p {
    font-size: 1.7vw;
}
.background {
    height: 85vh;
    background-size: 180vh 53vw;

}
    .options {
        font-size: 1.5vh;
        line-height: 2em;
        display: grid;
        grid-template-columns: 1vh 130vh;
        grid-gap: 1em;
        justify-content: center;
        margin: 2em;
    }
    .options-question {
        font-size: 1.5vw;
        line-height: 1.5em;
        margin: 4vh;
    }
    .image-position-game {
        top: 29vh; 
        width: 8vw;
    }
    .welcomeimage {
        width: 10vw;
        height: 13vh;
        margin: 3vh 8vh;
    }
    .content-box {
        margin-top: 35vh;
        margin-right: 5vh;
        margin-left: 5vh;
    }
    .options-question {
        font-size: 1vw;
    }
    button {
        text-align: center;
        font-size: 2vw;
        margin: 2em;
        padding: 1em;
        border: 6px solid black;
    }
}
