html {
    font-size: 10px;
}
body {
    font-family: 'Press Start 2P';
    color: black;
    text-align: center;
}
.background {
    height: 60em;
    border: 0.5em black solid;
}
.content-box {
    border: 0.3em black solid;
    margin-top: 40em;
    margin-right: 2em;
    margin-left: 2em;
    background-color: white;
}
h1 {
    margin: 1em;
    font-size: 1em;
    line-height: 1.5em;
}
h2 {
    margin: 2em;
    font-size: 0.9em;
}
.options {
    font-size: 0.7em;
    line-height: 2em;
    display: grid;
    grid-template-columns: 10em 50em;
    grid-gap: 1em;
    justify-content: center;
    margin: 2em;
}
input {
    justify-self: end;
}
label {
    text-align: justify;
}
